body{
    
    margin-top: 100px;
}
#header_container{
    background-color: white;
    width: 100%;
    

}

.standing{
    padding: 5px;
    background-color: black;
    border-radius: 1px;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    
}
.standing a{
    margin-top: 10px;  
}
.sta_com{
    margin-left: -0px;
}

.standing select{
    display: flex;
    margin-left: 220px;
    margin-top: -30px;
}
.standing_text b{
    margin-top: -5px;
}
.latest_new{
    padding: 5px;
    background-color: black;
    border-radius: 1px;
    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.latest_new_kk{
    padding: 5px;
    background-color: black;
    border-radius: 1px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}


.container-xxl{
    margin: auto;
    padding: 0;
    display: flex;    
    margin-top: 20px;

    
}
.container-news{
    margin: auto;
    padding: 0;
    display: flex;    
    margin-top: 20px;
    width: 900px;
    display: block;
    background-color: white;
    
}
.news_container{
    width: 70%;
    display: inline-block;
    align-items: flex-start;
    margin-top: 15px;
    margin-right: 15px;
}
.table_container{
    width: 30%;
    float: right;
    align-items: flex-start;
    
    margin-left: 15px;
    
}
.table_info{
    display: inline-block;
}
.table_info td{
    margin-right: 10px;
    margin-left: 10px;
    
}
.table{
    margin-top: 20px;
    text-align: center;
}
.navbar-brand img{
    margin-top: -100px;
    margin-bottom: -100px;
}
.carousel-caption{
    font-size: 30px;
    
}
.slide-cap-bg{
    width: 100px;
    background-color: gray;
    display:grid;
}
.news-block-row{
    display: flex;
    margin-top: 30px;
}

.card2{
    margin-left: 40px;
    text-decoration: none;
}

.kk_container{
    width: 100%;
    display: inline-block;
    align-items: flex-start;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;


}
.card1 a{
    text-decoration: none;
    color: black;
}
.card2 a{
    text-decoration: none;
    color: black;
}
.card1 a:hover{
    color: inherit;
}
.card2 a:hover{
    color: inherit;
}
#scrollUp {
    text-align: center;
    bottom: 40px;
    cursor: pointer;
    position: fixed;
    right: 40px;
    z-index: 999;
    background: #fbc02d;
    color: #111111;
    border-radius: 50%;
    width: 40px;
    line-height: 40px;
    font-size: 20px !important;
    height: 40px;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 40%);
}
#scrollUp svg{
    margin-top: -5px;
}
.img-news{
    margin-top: 30px;
    width: 100%;
    
}
.detail-news-bg{
    background-color: #eff4fd;
    margin: 0;
    padding: 0;
    display: block;

}
.p0{
    text-indent: 4em;
}













