body{
    background-color: white;
    margin-top: 100px;
}
#header_container{
    background-color: white;
    width: 100%;

}
.news_slideshow{
    background-color: white;
}
.standing{
    padding: 5px;
    background-color: black;
    border-radius: 1px;
    color: white;
    font-size: 20px;
}
.standing a{
    margin-top: 10px;  
}

.standing select{
    display: flex;
    margin-left: 225px;
    margin-top: -30px;
}
.standing_text b{
    margin-top: -5px;
}

.body_container{
    width: 1350px;
    margin: auto;
    padding: 0;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
.news_container{
    width: 70%;
    display: inline-block;
    align-items: flex-start;
}
.table_container{
    width: 30%;
    display: inline-block;
    align-items: flex-start;
    
}
.table_info{
    display: inline-block;
}
.table_info td{
    margin-right: 10px;
    margin-left: 10px;
    
}
.table{
    margin-top: 20px;
    text-align: center;
}
.navbar-brand img{
    margin-top: -100px;
    margin-bottom: -100px;
}










